<% provide(:title, "Home") %>
<nav>
  <ul>
    <li>
      <!-- link -->
      <a href="<%= about_path(@about) %>"> About </a>
    </li>
    <li>
      <!-- link -->
      <a href="<%= locations_index_path(@locations) %>">Locations</a>
    </li>
    <li>
      <!-- link -->
      <a href="<%= photos_index_path(@photos) %>">Photos</a>
    </li>
    <li>
    <!-- link -->
    <!-- <a href="/">Home</a> -->
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to("Log in", new_user_session_path) %>
      <% end %>
    </li>
  </ul>
</nav>

<div class="center jumbotron">
  <br>
  <p style="font-family:Didot; color:black; font-size: 30px;"> Welcome to Anna's Blog</p>

  <br>
  <%#= link_to "Locations Traveled", locations_index_path %> <!-- may be replaced as locations_path -->
  <%#= link_to "Photos", photos_index_path %>
</div>

 <p style="font-family:Didot; color:black; font-size: 14px;">© <%= Date.today.year %> Created by Anna Nickle</p>
