
<ul class='photo_list'>
  <li>
    <%= image_tag("/assets/photos/StarbucksReserveRoastery.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/CanyonlandsSunset.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/Bogota2.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/ChicagoMagMi.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/Harbin.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/MedellinFarmHouse.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/SF1.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/StLouis.jpg", :class=> "photo") %>
  </li>
  <li>
    <%= image_tag("/assets/photos/PittockMansionAcres.jpg", :class=> "photo") %>
  </li>
</ul>
