<div>
  <strong>Location</strong>
  <%= @location.name %>
</div>

<div style="padding-left:80px;">
  <%= @location.description %>
</div>
<div style="padding-left:80px;">
 <%= @location.city %>, <%= @location.state %>,  <%= @location.country %>
</div>

<% @location.photos.each do |photo| %>   <!-- looping through each photo -->
  <%= image_source(photo) %>
<% end %>

<p>
  <%= link_to @location.name %>
</p>

