<h1>
  <%= @location.name %>
</h1>
<p>
  <%= @location.description %>
</p>

<h2>
 <%= @location.city %>, <%= @location.state %>,  <%= @location.country %>
</h2>

<% 5.times do %>
<p> photo </p>
<% end %>
