<div>
  <strong>Location</strong>
  <%= @location.name %>
</div>

<div style="padding-left:80px;">
  <%= @location.description %>
</div>
<div style="padding-left:80px;">
 <%= @location.city %>, <%= @location.state %>,  <%= @location.country %>
</div>

<%# 5.times do %>
<%= @location.photos.each do |photo| %>
<p> photo </p>
<% end %>

<p>
  <%= link_to @location.name %>
</p>
