<% provide(:title, 'List of photos') %>
<h1>
  <%= @location.name %>
</h1>
<p>
  <%= @location.description %>
</p>

<h2>
 <%= @location.city %>, <%= @location.state %>,  <%= @location.country %>
</h2>

<% 5.times do %>
<p> photo </p>
<% end %>

<%= link_to 'Add a new photo', new_photo_path %>
